<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <section id="payment">
        <group id="yjpay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Yjpay Card Payment Online</label>

            <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Enabled:</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>

            <field id="title" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>

            <field id="sandbox" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Sandbox Mode</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>

            <field id="partnerId" type="text" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Partner ID:</label>
            </field>

            <field id="secretKey" type="text" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Secret Key:</label>
            </field>

            <field id="merchantEmail" type="text" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Merchant Email:</label>
            </field>

            <field id="merchantName" type="text" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Merchant Name:</label>
            </field>

            <field id="processingOrderStatus" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Processing Order Status</label>
                <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
            </field>

            <field id="successOrderStatus" type="select" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Success Order Status:</label>
                <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
            </field>

            <field id="failOrderStatus" type="select" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Fail Order Status:</label>
                <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
            </field>

            <field id="authorizingOrderStatus" type="select" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Authorizing Order Status:</label>
                <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
            </field>

            <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Payment from Applicable Countries</label>
                <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
            </field>
            <field id="specificcountry" translate="label" type="multiselect" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Payment from Specific Countries</label>
                <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                <can_be_empty>1</can_be_empty>
            </field>

            <field id="instructions" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instructions</label>
            </field>
            <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Sort Order</label>
                <frontend_class>validate-number</frontend_class>
            </field>
        </group>
    </section>
</system>
</config>
