<?xml version="1.0"?>
<!--
/**
 * Masapay Magento Plugin.
 * v1.1.8 - November 8th, 2013
 * 
 * 
 * Copyright (c) 2013 Masapay
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without 
 * modification, are permitted provided that the following conditions 
 * are met:
 * 
 *     - Redistributions of source code must retain the above copyright 
 *       notice, this list of conditions and the following disclaimer.
 *     - Redistributions in binary form must reproduce the above 
 *       copyright notice, this list of conditions and the following 
 *       disclaimer in the documentation and/or other materials 
 *       provided with the distribution.
 *     - Neither the name of the Masapay nor the names of its 
 *       contributors may be used to endorse or promote products 
 *       derived from this software without specific prior written 
 *       permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS 
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT 
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
 * FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE 
 * COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
 * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; 
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT 
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
 * POSSIBILITY OF SUCH DAMAGE.
 * 
 * @category    Mage
 * @package     MasaPay_Masapi_Block_Form
 * @copyright   Copyright (c) 2013 MasaPay  (www.masapi.com)
 * @license     http://opensource.org/licenses/bsd-license.php  BSD License
 */
-->
<config>
    <modules>
        <MasaPay_Masapi>
            <version>1.1.8</version>
        </MasaPay_Masapi>
    </modules>
    <global>
        <blocks>
            <masapi>
                <class>MasaPay_Masapi_Block</class>
            </masapi>
        </blocks>
        <models>
            <masapi>
                <class>MasaPay_Masapi_Model</class>
            </masapi>
        </models>
        <resources>
            <masapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </masapi_write>
            <masapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </masapi_read>
        </resources>
        <helpers>
			<masapi>
				<class>MasaPay_Masapi_Helper</class>
			</masapi>
		</helpers>
    </global>
    <frontend>
        <routers>
            <masapayapi>
                <use>standard</use>
                <args>
                    <module>MasaPay_Masapi</module>
                    <frontName>masapayapi</frontName>
                </args>
            </masapayapi>
        </routers>
    </frontend>
    <default>
        <payment>
            <masapi>
                  <model>masapi/CCPaymentAction</model>
                  <order_status>pending</order_status>
                  <title>Credit Card</title>
                  <active>0</active>
                  <cctypes>VI,MC,JCB</cctypes>
                  <payment_action>authorize</payment_action>
                  <currency>USD</currency>
             </masapi>
        </payment>
    </default>
</config>